---
---

@import "variables";


/* Declare the default 'homepane' class. */
.homepane {
	position: relative;
	padding-top: 5px;
	width: 65%;
	margin: 100px 1% 20px 1%;
	float: left;
	background-image: url("/img/day-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Configure bg image defaults. */
.homepane img
{
	width: 100%;
	max-height: 100%;
	margin:auto;
	display: block;
}

/* Initialize inner div defaults. */
.homepane > .upper {
	height: 50px;
	width: 35%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 5px;
	margin-left: 1%;
	float: left;  
	background-color: transparent; /*#274257;*/
	transition:height 0.5s, margin-top 0.5s, background-color 0.5s; /* Animation time */
	-webkit-transition:height 0.5s, margin-top 0.5s, background-color 0.5s; /* For Safari */
}
.homepane > .lower {
	height: 50px;
	width: 45%;
	margin-top: 345px;
	margin-right: 1%;
	margin-bottom: 5px;
	margin-left: 1%;
	float: right;  
	background-color: transparent; /*rgba(255, 255, 255, 0.75);*/
	transition:height 0.5s, margin-top 0.5s, margin-bottom 0.5s, background-color 0.5s;; /* Animation time */
	-webkit-transition:height 0.5s, margin-top 0.5s, margin-bottom 0.5s, background-color 0.5s;; /* For Safari */
}

/* On hover, display any transitions. */
.homepane:hover .upper{
	height: 60px; /* The button's height on hover. */
	margin-top: 2%; /* The top margin on hover.*/
	background-color: rgba(0, 0, 0, 0.65);
}
.homepane:hover .lower{
	height: 150px; /* The button's height on hover. */
	margin-top: 235px; /* The top margin on hover.*/
	margin-bottom: 15px; /* The bottom margin on hover.*/
	background-color: rgba(0, 0, 0, 0.65);
}
