---
---
@import "variables";


/* Declare the default 'homepane' class. */
.home-area {
	padding-top: 100px;
}

.homepane {
	height: 400px;
	width: 65%;
	margin: 5px 1% 5px 1%;
	background-image: url("/img/day-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: solid 1px $lightGrey;
	box-shadow: 0px 2px 6px rgba($black, 0.25);
}

/* Configure bg image defaults. */
.homepane img
{
	width: 100%;
	max-height: 100%;
	margin:auto;
	display: block;
}

/* Initialize inner div defaults. */
.homepane > .upper {
	height: 50px;
	width: 35%;
	margin-top: 1%;
	margin-right: 1%;
	margin-bottom: 5px;
	margin-left: 1%;
	float: left;  
	background-color: transparent; /*#274257;*/
	border: none;
	box-shadow: none;	
	transition:height 0.5s, margin-top 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s; /* Animation time */
	-webkit-transition:height 0.5s, margin-top 0.5s, background-color 0.5s, border 0.5s, box-shadow 0.5s; /* For Safari */
}

/* On hover, display any transitions. */
.homepane.in-view .upper{
	height: 60px; /* The button's height on hover. */
	margin-top: 2%; /* The top margin on hover.*/
	background-color: $white; 
	border: solid 1px $lightGrey;
	box-shadow: 0px 2px 6px rgba($black, 0.25);
}
