---
---
@import "variables";


#footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 65%;
  height: 135px;
  vertical-align: center;
}

#footer p {
  text-align: center;
  padding: 10px;
}
