---
---
@import "variables";


#indexbody {
  width: 100%;
  height: auto;
  {% if site.background-img %}
  background: url({{ site.background-img }}) no-repeat fixed;
  {% endif %}
  background-color: $backdrop; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;  
}

#pane-area {
  width: 100%;
  height: auto;
  {% if site.background-img %}
  background: url({{ site.background-img }}) no-repeat fixed;
  {% endif %}
  background-color: $backdrop; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow: hidden;  
}

#footer {
  //clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
}

#footer p {
  text-align: center;
  padding: 10px;
}
