<!-- aboutPane Start -->

<center>
<div class="area cf">
	<div class="aboutpane bounce-up cf">
		<div class="subject default">
		<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-coffee"></i></div>
			<div class="header cf">
				<h4 class="date"><i class="fa fa-calendar-o"></i><strong>November 2013</strong></h4>
				<h4 class="cat"><i class="fa fa-folder-o"></i>
					<small>
    				<a class="category" href="{{site.baseurl}}/blog/">
      				Blog
    				</a>
  				</small>
				</h4>
			</div>

			<h3 class="title">About Us</h3>
			<div class="content">...</div>
			<div class="enrole">More Info</div> 
		</div>
	</div>
</div>
</center>
