<!-- aboutPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
		<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-coffee"></i></div>
			<div class="header cf">
				<h4 class="date"><i class="fa fa-calendar-o"></i><strong>September 2016</strong></h4>
				<h4 class="cat"><i class="fa fa-folder-o"></i>
					<small>
    				<a class="category" href="{{site.baseurl}}/contact/">
      				Contact Us
    				</a>
  				</small>
				</h4>
			</div>

			<h3 class="title">About Us</h3>
			<div class="content">
				<p>Will o' Wisp Games is an independant video game development studio with a passion for creating games that are memorable and engaging. At Will o' Wisp Games we've cultivated our vision over decades of gaming. We don't just make games, we enjoy the fun of playing them too!<br>      
				<br>
				We've enjoyed developing with the open source MIT-licensed Torque3D game engine for a number of years. During this time we have honed our skillset around the engine, always innovating to improve our standards for excellence.</p>
			</div>
			<div class="enrole">More Info</div> 
		</div>
	</div>
</div>
</center>
