<!-- contactPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-envelope"></i></div>
			<div class="header cf">
				<h4 class="date"><i class="fa fa-calendar-o"></i><strong>September 2016</strong></h4>
				<h4 class="cat"><i class="fa fa-folder-o"></i>
					<small>
    				<a class="category" href="{{site.baseurl}}/about/">
      				About Us
    				</a>
  				</small>
				</h4>
			</div>
			<h3 class="title">Contact Us</h3>
			<div class="content">
				<div class="p2">
				Drop us an email if you are interested in us coding for you or saving your neighborhood!
				<br><br>
				<a href="mailto:contact@willowispgames.com">contact@willowispgames.com</a>
				</div>			
			</div>
		</div>
	</div>
</div>
</center>
