<!-- contactPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-envelope"></i></div>
			<div class="header cf"><br></div>
			<h3 class="title">Contact Us</h3>
			<div class="content">
				<div class="p2">
				Drop us an email if you have any questions or requests concerning our services. We are straightforward with our abilities and pricing, and like to see independent games succeed. Don't be afraid to reach out to us if you need help meeting goals along your project's timeline. 
				<br><br>
				<a href="mailto:jesse@willowispgames.com">contact@willowispgames.com</a>
				</div>			
			</div>
		</div>
	</div>
</div>
</center>
