
<div class="cf">
	<div class = "home-area">
		<div class="homepane cf">
			<div class="upper"></div>
			<div class="lower"></div>
		</div>
	
	  	<!-- Pane 2 -->
	  
	  	{% assign post = site.posts.first %}
	  
		<!--div class="homepane cf"-->
		
			<div class="subject default">
				<div class="cat-color"></div>
				<div class="icon"><i class="fa fa-pencil"></i></div>
				<div class="header cf"><br></div>			
				<center><h3 class="title">Latest Blog Post</h3></center>
				<div class="content">
					<h4>
					    <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
					</h4>
					
					{{ post.content | strip_html | markdownify | truncatewords: site.post-preview-words }}
					
					<h4><small><center>
						<a href="{{site.baseurl}}{{post.url}}#disqus_thread">Comments</a>
					</center></small></h4>
				</div>
			</div>
			
		<!--/div-->
		
	</div>
</div>	
