  <div class="container cf">

    <div class="animation-element bounce-up cf">
      <div class="subject default">
        <div class="category-color"></div>
        <div class="icon"><i class="fa fa-cogs"></i></div>
        <div class="header cf">
          <h4 class="date"><i class="fa fa-calendar-o"></i>September 2016</h4>
          <h4 class="category"><i class="fa fa-folder-o"></i>Projects</h4>
        </div>
        <h3 class="title">Featured Project</h3>
        <div class="content">An introductory class on C++. This course will outline the basic elements required to understand development...</div>
        <div class="enrole">More Info</div>
      </div>
    </div>
    <!-- Course 2 -->
    <div class="animation-element bounce-up cf">
      <div class="subject design">
        <div class="category-color"></div>
        <div class="icon"><i class="fa fa-pencil"></i></div>
        <div class="header cf">
          <h4 class="date"><i class="fa fa-calendar-o"></i> April, 2015</h4>
          <h4 class="category"><i class="fa fa-folder-o"></i> Design</h4>
        </div>
        <h3 class="title">Introduction to design </h3>
        <div class="content">Learn the basics of design and how to adapt them to your wordflow. This course covers an outline of Photoshop and...</div>
        <div class="enrole">Enrole</div>
      </div>
    </div>
    <!-- Course 3 -->
    <div class="animation-element bounce-up">
      <div class="subject photography">
        <div class="category-color"></div>
        <div class="icon"><i class="fa fa-camera"></i></div>
        <div class="header cf">
          <h4 class="date"><i class="fa fa-calendar-o"></i> May, 2015</h4>
          <h4 class="category"><i class="fa fa-folder-o"></i> Photography</h4>
        </div>
        <h3 class="title">Macro Photography Essentials </h3>
        <div class="content">This topic will contain all of the neseccary elements you will need to dive head first into taking stunning macro photography...</div>
        <div class="enrole">Enrole</div>
      </div>
    </div>
