<!-- Pane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject development">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-cogs"></i></div>
			<div class="header cf">
				<h4 class="date"><i class="fa fa-calendar-o"></i><strong>November 2015</strong></h4>
				<h4 class="cat"><i class="fa fa-folder-o"></i>
					<small>
    				<a class="category" href="{{site.baseurl}}/projects/">
      				Projects
    				</a>
  				</small>
				</h4>
			</div>
			<h3 class="title">Featured Project</h3>
			<div class="content">In our debut title, players can look forward to exploring randomly generated Kingdoms in a fantasy themed world...</div>
			<div class="enrole">More Info</div> 
		</div>
	</div>
</div>
</center>
