<!-- Projects Start -->

<section id="{{ page.section-type }}" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ page.content | markdownify }}
      
      In our upcoming title, players can look forward to exploring randomly generated Kingdoms in a fantasy themed world. Players will be able to gather resources used to craft equipment and build. A true sandbox title to its core, the actions of players will determine what is valuable and who is friend or foe. Every Kingdom will be different, so it will be left up to the players to decide: Who will rule in your Kingdom?
      
      <div class="p2">
      <small>
      Many of the game's features are already playable. Follow our blog for updates!
      </small>
      </div>      
    </div>
  </div>
</section>
