<!-- Projects Start 
	<div class="main-area"-->

	<div class="area cf">
		<div class="pane bounce-up cf">
			<div class="subject development">
				<div class="cat-color"></div>
				<div class="icon"><i class="fa fa-cogs"></i></div>
				<div class="header cf">
					<h4 class="date"><i class="fa fa-calendar-o"></i> April, 2015</h4>
					<h4 class="cat"><i class="fa fa-folder-o"></i> Development</h4>
				</div>
				<h3 class="title">Fundamentals of C++ Development</h3>
				<div class="content">An introductory class on C++. This course will outline the basic elements required to understand development...</div>
				<div class="enrole">Enrole</div> 
			</div>
		</div>
	</div>
