<!-- projectPane Start -->

<center>
<div class="area cf">
	<div class="pane bounce-up cf">
		<div class="subject default">
			<div class="cat-color"></div>
			<div class="icon"><i class="fa fa-gamepad"></i></div>
			<div class="header cf"><br></div>			
			<h3 class="title">Featured</h3>
			<div class="content">
				<p>In our upcoming title, players can look forward to exploring randomly generated Kingdoms in a fantasy themed world. Players will be able to gather resources used to craft equipment and build. A true sandbox title to its core, the actions of players will determine what is valuable and who is friend or foe. Every Kingdom will be different, so it will be left up to the players to decide: Who will rule in your Kingdom?</p>
				<div class="p2">
					<small>Many of the game's features are already playable. Follow our blog for updates!
					</small>
				</div>
			</div>
			<!--div class="enrole">More Info</div--> 
		</div>
	</div>
</div>
</center>
