// Variables

$primary: rgba(#000000, 0.87); 
$secondary: rgba(#000000, 0.54);
$dark: #000;
$light: #fff;
$greyPane: #f5f5f5;
$lightGrey: #bdbdbd;
$link-color: #1976d2;

$navbar-text-shadow: false; 
$header-text-shadow: false; 
$header-background-color: $greyPane; 
$intro-text-color: $light; // deprecated dynamic typed text 
$navbar-color: $darkText; // navbar text
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: lighten($link-color,20%); 
