// Variables

$primary: #0091ea; //#40c4ff; //Secondary: rgba(#000000, 0.54);
$dark: #000;
$light: #fff;
$greyPane: #f5f5f5;
$darkText: rgba(#000000, 0.87);
$lightGrey: #e0e0e0;

$navbar-text-shadow: true;
$header-text-shadow: true;
$header-background-color: $greyPane; 
$intro-text-color: $light;
$navbar-color: $greyPane; //$light;
$navbar-lg-collapse-background-color: $header-background-color;
$navbar-lg-background: transparent;
$navbar-sm-background-color: $navbar-lg-collapse-background-color;

$social-buttons-color: $primary; //#00cdff; 
